*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-color: rgb(39,65,78);
}
.header{
    width: 100%;
    height: 0.5rem;
    line-height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .18rem;
    color: rgb(246, 246, 246);
    font-family: PF-Bold;
    border-bottom: .01rem solid rgb(57, 83, 95);
}
.header>a{
    margin-left: .15rem;
}
.header>a>img{
   width: .1rem;
   height: .15rem;
}
.header>img{
    margin-right: .15rem;
}
header>img{
    width: .16rem;
    height: .16rem;
}

.main{
    width: 100%;
    height: 1.9rem;
    margin-top: 0.16rem;
}
.img1{
    background: url(./../images/activity/ertu.png) no-repeat;
    background-size: 100%;
}
.img2{
    background: url(./../images/activity/yitu.png) no-repeat;
    background-size: 100%;
}
.img3{
    background: url(./../images/activity/tu3.png) no-repeat;
    background-size: 100%;
}
.main .main-list{
    width: 85.3%;
    margin: 0 auto;
    padding-top: 0.25rem;
}
.main .main-list li{
    width: 100%;
    height: 0.35rem;
    line-height: 0.35rem;
    color:rgb(246, 246, 246);
    font-family: PF-Medium;
}
.main .main-list li:nth-child(1){
    font-size: .3rem;
}
.main .main-list li:nth-child(2){
    font-size: .15rem;
}
.main .main-list li:nth-child(2) span:nth-child(1){
    font-size: .12rem;
}
.main .main-list li:nth-child(2) span:nth-child(2){
    font-size: .21rem;
}
.main .main-list li:nth-child(3){
    font-size: .11rem;
}
.main .main-list li:nth-child(3) span:nth-child(2){
    margin-left: 0.18rem;
}



.main .main-list li:nth-child(4){
    display: block;
    width: 1.2rem;
    height: 0.33rem;
    border-radius: .17rem;
}
.main .main-list li:nth-child(4) .a1{
    width: 100%;
    height: 100%;
    display: block;
    background: url(./../images/activity/baoming.png) no-repeat;
    background-size: 100%;
}
.main .main-list li:nth-child(4) .a2{
    width: 100%;
    height: 100%;
    display: block;
    background: url(./../images/activity/yiyue.png) no-repeat;
    background-size: 100%;
}
.main .main-list li:nth-child(4) .a3{
    width: 100%;
    height: 100%;
    display: block;
    background: url(./../images/activity/baoming.png) no-repeat;
    background-size: 100%;
}






